//! **************************************************************************
// Written by: Map P.20131013 on Mon Nov 20 15:19:44 2017
//! **************************************************************************

SCHEMATIC START;
COMP "VCC_5V_EN_p" LOCATE = SITE "J16" LEVEL 1;
COMP "VCC1P8_EN1_p" LOCATE = SITE "J12" LEVEL 1;
COMP "REFCLK2_PD_np" LOCATE = SITE "T7" LEVEL 1;
COMP "REFCLK3_PD_np" LOCATE = SITE "N9" LEVEL 1;
COMP "DSP_TSIP0_FSA0_p" LOCATE = SITE "B4" LEVEL 1;
COMP "DSP_TSIP0_FSB0_p" LOCATE = SITE "A4" LEVEL 1;
COMP "BM_GPIO_p<0>" LOCATE = SITE "C1" LEVEL 1;
COMP "BM_GPIO_p<1>" LOCATE = SITE "C2" LEVEL 1;
COMP "BM_GPIO_p<2>" LOCATE = SITE "D3" LEVEL 1;
COMP "BM_GPIO_p<3>" LOCATE = SITE "D4" LEVEL 1;
COMP "BM_GPIO_p<4>" LOCATE = SITE "E1" LEVEL 1;
COMP "BM_GPIO_p<5>" LOCATE = SITE "D1" LEVEL 1;
COMP "BM_GPIO_p<6>" LOCATE = SITE "E2" LEVEL 1;
COMP "BM_GPIO_p<7>" LOCATE = SITE "E3" LEVEL 1;
COMP "BM_GPIO_p<8>" LOCATE = SITE "G4" LEVEL 1;
COMP "BM_GPIO_p<9>" LOCATE = SITE "F3" LEVEL 1;
COMP "DEBUG_LED_p<0>" LOCATE = SITE "P11" LEVEL 1;
COMP "DEBUG_LED_p<1>" LOCATE = SITE "P12" LEVEL 1;
COMP "DEBUG_LED_p<2>" LOCATE = SITE "R13" LEVEL 1;
COMP "DEBUG_LED_p<3>" LOCATE = SITE "T13" LEVEL 1;
COMP "DSP_TSIP1_FSA1_p" LOCATE = SITE "B3" LEVEL 1;
COMP "DSP_TSIP1_FSB1_p" LOCATE = SITE "A3" LEVEL 1;
COMP "NORFLASH_RST_N_p" LOCATE = SITE "G6" LEVEL 1;
COMP "NOR_WP_np" LOCATE = SITE "B15" LEVEL 1;
COMP "DSP_RESETSTAT_np" LOCATE = SITE "C13" LEVEL 1;
COMP "DSP_TSIP0_CLKA0_p" LOCATE = SITE "C6" LEVEL 1;
COMP "DSP_TSIP0_CLKB0_p" LOCATE = SITE "D7" LEVEL 1;
COMP "FULL_RESET_p" LOCATE = SITE "E14" LEVEL 1;
COMP "DSP_TSIP1_CLKA1_p" LOCATE = SITE "C5" LEVEL 1;
COMP "DSP_TSIP1_CLKB1_p" LOCATE = SITE "A5" LEVEL 1;
COMP "BM_GPIO_p<10>" LOCATE = SITE "G1" LEVEL 1;
COMP "BM_GPIO_p<11>" LOCATE = SITE "F1" LEVEL 1;
COMP "BM_GPIO_p<12>" LOCATE = SITE "H4" LEVEL 1;
COMP "BM_GPIO_p<13>" LOCATE = SITE "G3" LEVEL 1;
COMP "BM_GPIO_p<14>" LOCATE = SITE "H5" LEVEL 1;
COMP "BM_GPIO_p<15>" LOCATE = SITE "H6" LEVEL 1;
COMP "USER_DEFINE_p" LOCATE = SITE "P1" LEVEL 1;
COMP "DSP_BOOTCOMPLETE_p" LOCATE = SITE "A8" LEVEL 1;
COMP "UCD9222_ENA1_p" LOCATE = SITE "H16" LEVEL 1;
COMP "UCD9222_ENA2_p" LOCATE = SITE "H14" LEVEL 1;
COMP "DSP_PACLKSEL_p" LOCATE = SITE "A10" LEVEL 1;
COMP "CLOCK2_SSPCK_p" LOCATE = SITE "N7" LEVEL 1;
COMP "CLOCK2_SSPSI_p" LOCATE = SITE "N8" LEVEL 1;
COMP "SYS_PGOOD_p" LOCATE = SITE "G13" LEVEL 1;
COMP "UCD9222_RST_np" LOCATE = SITE "F16" LEVEL 1;
COMP "CLOCK3_SSPCK_p" LOCATE = SITE "T8" LEVEL 1;
COMP "CLOCK3_SSPSI_p" LOCATE = SITE "P8" LEVEL 1;
COMP "PCA9306_EN_p" LOCATE = SITE "P16" LEVEL 1;
COMP "DSP_SYSCLKOUT_p" LOCATE = SITE "C7" LEVEL 1;
COMP "DSP_VCL_1_p" LOCATE = SITE "E16" LEVEL 1;
COMP "DSP_GPIO_p<0>" LOCATE = SITE "H1" LEVEL 1;
COMP "DSP_GPIO_p<1>" LOCATE = SITE "G2" LEVEL 1;
COMP "DSP_GPIO_p<2>" LOCATE = SITE "J3" LEVEL 1;
COMP "DSP_GPIO_p<3>" LOCATE = SITE "H3" LEVEL 1;
COMP "DSP_GPIO_p<4>" LOCATE = SITE "J1" LEVEL 1;
COMP "DSP_GPIO_p<5>" LOCATE = SITE "J2" LEVEL 1;
COMP "DSP_GPIO_p<6>" LOCATE = SITE "K1" LEVEL 1;
COMP "DSP_GPIO_p<7>" LOCATE = SITE "K3" LEVEL 1;
COMP "DSP_GPIO_p<8>" LOCATE = SITE "L2" LEVEL 1;
COMP "DSP_GPIO_p<9>" LOCATE = SITE "L1" LEVEL 1;
COMP "VCC1P5_EN_p" LOCATE = SITE "L14" LEVEL 1;
COMP "VCC2P5_EN_p" LOCATE = SITE "K15" LEVEL 1;
COMP "CLOCK2_SSPSO_p" LOCATE = SITE "P7" LEVEL 1;
COMP "VCC0P75_PGOOD_p" LOCATE = SITE "M16" LEVEL 1;
COMP "CLOCK2_PLL_LOCK_p" LOCATE = SITE "R5" LEVEL 1;
COMP "COLD_RESET_p" LOCATE = SITE "D16" LEVEL 1;
COMP "DSP_TIMI0_p" LOCATE = SITE "R1" LEVEL 1;
COMP "CLOCK2_SSPCS1_p" LOCATE = SITE "P6" LEVEL 1;
COMP "PCIESSEN_p" LOCATE = SITE "P2" LEVEL 1;
COMP "DSP_CORESEL_p<0>" LOCATE = SITE "D9" LEVEL 1;
COMP "DSP_CORESEL_p<1>" LOCATE = SITE "C10" LEVEL 1;
COMP "DSP_CORESEL_p<2>" LOCATE = SITE "A9" LEVEL 1;
COMP "DSP_CORESEL_p<3>" LOCATE = SITE "C9" LEVEL 1;
COMP "EEPROM_WP_p" LOCATE = SITE "B14" LEVEL 1;
COMP "DSP_HOUT_p" LOCATE = SITE "B8" LEVEL 1;
COMP "WARM_RESET_p" LOCATE = SITE "D15" LEVEL 1;
COMP "DSP_NMIZ_p" LOCATE = SITE "D8" LEVEL 1;
COMP "DSP_VD_1_p" LOCATE = SITE "F14" LEVEL 1;
COMP "CLOCK3_SSPCS1_p" LOCATE = SITE "R7" LEVEL 1;
COMP "DSP_PORZ_p" LOCATE = SITE "E7" LEVEL 1;
COMP "VCC1P5_PGOOD_p" LOCATE = SITE "M15" LEVEL 1;
COMP "DSP_LRESETNMIENZ_p" LOCATE = SITE "B10" LEVEL 1;
COMP "CLOCK3_PLL_LOCK_p" LOCATE = SITE "T4" LEVEL 1;
COMP "DSP_LRESETZ_p" LOCATE = SITE "C8" LEVEL 1;
COMP "NAND_WP_p" LOCATE = SITE "A6" LEVEL 1;
COMP "VCC5_PGOOD_p" LOCATE = SITE "M13" LEVEL 1;
COMP "DSP_RESETFULLZ_p" LOCATE = SITE "F8" LEVEL 1;
COMP "PGUCD9222_p" LOCATE = SITE "H15" LEVEL 1;
COMP "VCC1P8_PGOOD_p" LOCATE = SITE "A7" LEVEL 1;
COMP "VCC2P5_PGOOD_p" LOCATE = SITE "K13" LEVEL 1;
COMP "CLOCK3_SSPSO_p" LOCATE = SITE "P9" LEVEL 1;
COMP "MAIN_48MHZ_CLK_R_p" LOCATE = SITE "T9" LEVEL 1;
COMP "VCC3_AUX_PGOOD_p" LOCATE = SITE "L13" LEVEL 1;
COMP "VCC0P75_EN_p" LOCATE = SITE "K14" LEVEL 1;
COMP "DSP_RESETZ_p" LOCATE = SITE "B6" LEVEL 1;
COMP "UCD9222_PG1_p" LOCATE = SITE "J14" LEVEL 1;
COMP "UCD9222_PG2_p" LOCATE = SITE "K16" LEVEL 1;
COMP "DSP_GPIO_p<10>" LOCATE = SITE "J6" LEVEL 1;
COMP "DSP_GPIO_p<11>" LOCATE = SITE "J4" LEVEL 1;
COMP "DSP_GPIO_p<12>" LOCATE = SITE "L3" LEVEL 1;
COMP "DSP_GPIO_p<13>" LOCATE = SITE "K4" LEVEL 1;
COMP "DSP_GPIO_p<14>" LOCATE = SITE "L4" LEVEL 1;
COMP "DSP_GPIO_p<15>" LOCATE = SITE "M3" LEVEL 1;
COMP "BOARD_RESET_p" LOCATE = SITE "D14" LEVEL 1;
COMP "PMBUS_CTL" LOCATE = SITE "F15" LEVEL 1;
SCHEMATIC END;

