
//GLOBAL
NET "MAIN_48MHZ_CLK_R_p" 	LOC = T9  | IOSTANDARD = LVCMOS33;
NET "VCC3_AUX_PGOOD_p"  	LOC = L13 | IOSTANDARD = LVCMOS33;

//DSP SPI
#NET "DSP_SSPCS1_p"        LOC = B12 | IOSTANDARD = LVCMOS18 | DRIVE = 8;
#NET "DSP_SSPCK_p"        LOC = E10 | IOSTANDARD = LVCMOS18 | DRIVE = 8;
#NET "DSP_SSPMISO_p"       LOC = D10 | IOSTANDARD = LVCMOS18 | DRIVE = 8;
#NET "DSP_SSPMOSI_p"       LOC = A11 | IOSTANDARD = LVCMOS18;

//POWER ON
NET "VCC5_PGOOD_p"        LOC = M13 | IOSTANDARD = LVCMOS33;
NET "VCC2P5_PGOOD_p"      LOC = K13 | IOSTANDARD = LVCMOS33;
NET "VCC0P75_PGOOD_p"     LOC = M16 | IOSTANDARD = LVCMOS33;
NET "VCC1P5_PGOOD_p"      LOC = M15 | IOSTANDARD = LVCMOS33;
NET "VCC1P8_PGOOD_p"      LOC = A7  | IOSTANDARD = LVCMOS18;

NET "VCC1P5_EN_p"         LOC = L14 | IOSTANDARD = LVCMOS33;
NET "VCC1P8_EN1_p"        LOC = J12 | IOSTANDARD = LVCMOS33;
NET "VCC0P75_EN_p"        LOC = K14 | IOSTANDARD = LVCMOS33;
NET "VCC2P5_EN_p"         LOC = K15 | IOSTANDARD = LVCMOS33;
NET "VCC_5V_EN_p"         LOC = J16 | IOSTANDARD = LVCMOS33;

//BANK3
NET "BM_GPIO_p[0]" 				LOC = C1  | IOSTANDARD = LVCMOS18;
NET "BM_GPIO_p[1]" 				LOC = C2  | IOSTANDARD = LVCMOS18;
NET "BM_GPIO_p[2]" 				LOC = D3  | IOSTANDARD = LVCMOS18;
NET "BM_GPIO_p[3]" 				LOC = D4  | IOSTANDARD = LVCMOS18;
NET "BM_GPIO_p[4]" 				LOC = E1  | IOSTANDARD = LVCMOS18;
NET "BM_GPIO_p[5]" 				LOC = D1  | IOSTANDARD = LVCMOS18;
NET "BM_GPIO_p[6]" 				LOC = E2  | IOSTANDARD = LVCMOS18;
NET "BM_GPIO_p[7]" 				LOC = E3  | IOSTANDARD = LVCMOS18;
NET "BM_GPIO_p[8]" 				LOC = G4  | IOSTANDARD = LVCMOS18;
NET "BM_GPIO_p[9]" 				LOC = F3  | IOSTANDARD = LVCMOS18;
NET "BM_GPIO_p[10]" 			LOC = G1  | IOSTANDARD = LVCMOS18;
NET "BM_GPIO_p[11]" 			LOC = F1  | IOSTANDARD = LVCMOS18;
NET "BM_GPIO_p[12]" 			LOC = H4  | IOSTANDARD = LVCMOS18;
NET "BM_GPIO_p[13]" 			LOC = G3  | IOSTANDARD = LVCMOS18;
NET "BM_GPIO_p[14]" 			LOC = H5  | IOSTANDARD = LVCMOS18;
NET "BM_GPIO_p[15]" 			LOC = H6  | IOSTANDARD = LVCMOS18;

NET "DSP_GPIO_p[0]" 			LOC = H1  | IOSTANDARD = LVCMOS18;
NET "DSP_GPIO_p[1]" 			LOC = G2  | IOSTANDARD = LVCMOS18;
NET "DSP_GPIO_p[2]" 			LOC = J3  | IOSTANDARD = LVCMOS18;
NET "DSP_GPIO_p[3]" 			LOC = H3  | IOSTANDARD = LVCMOS18;
NET "DSP_GPIO_p[4]" 			LOC = J1  | IOSTANDARD = LVCMOS18;
NET "DSP_GPIO_p[5]" 			LOC = J2  | IOSTANDARD = LVCMOS18;
NET "DSP_GPIO_p[6]" 			LOC = K1  | IOSTANDARD = LVCMOS18;
NET "DSP_GPIO_p[7]" 			LOC = K3  | IOSTANDARD = LVCMOS18;
NET "DSP_GPIO_p[8]" 			LOC = L2  | IOSTANDARD = LVCMOS18;
NET "DSP_GPIO_p[9]" 			LOC = L1  | IOSTANDARD = LVCMOS18;
NET "DSP_GPIO_p[10]" 			LOC = J6  | IOSTANDARD = LVCMOS18;
NET "DSP_GPIO_p[11]" 			LOC = J4  | IOSTANDARD = LVCMOS18;
NET "DSP_GPIO_p[12]" 			LOC = L3  | IOSTANDARD = LVCMOS18;
NET "DSP_GPIO_p[13]" 			LOC = K4  | IOSTANDARD = LVCMOS18;
NET "DSP_GPIO_p[14]" 			LOC = L4  | IOSTANDARD = LVCMOS18;
NET "DSP_GPIO_p[15]" 			LOC = M3  | IOSTANDARD = LVCMOS18;

NET "USER_DEFINE_p" 			LOC = P1 | IOSTANDARD = LVCMOS18;

NET "DEBUG_LED_p[0]" 				LOC = P11 | IOSTANDARD = LVCMOS33 | DRIVE = 8;
NET "DEBUG_LED_p[1]" 				LOC = P12 | IOSTANDARD = LVCMOS33 | DRIVE = 8;
NET "DEBUG_LED_p[2]" 				LOC = R13 | IOSTANDARD = LVCMOS33 | DRIVE = 8;
NET "DEBUG_LED_p[3]" 				LOC = T13 | IOSTANDARD = LVCMOS33 | DRIVE = 8;

//DSP CONTROL
NET "DSP_PACLKSEL_p"      LOC = A10 | IOSTANDARD = LVCMOS18 | DRIVE = 8;
NET "DSP_LRESETNMIENZ_p"  LOC = B10 | IOSTANDARD = LVCMOS18 | DRIVE = 8;
NET "DSP_CORESEL_p[0]"    LOC = D9 	| IOSTANDARD = LVCMOS18 | DRIVE = 8;
NET "DSP_CORESEL_p[1]"    LOC = C10 | IOSTANDARD = LVCMOS18 | DRIVE = 8;
NET "DSP_CORESEL_p[2]"    LOC = A9 	| IOSTANDARD = LVCMOS18 | DRIVE = 8;
NET "DSP_CORESEL_p[3]"    LOC = C9 	| IOSTANDARD = LVCMOS18 | DRIVE = 8;
NET "DSP_NMIZ_p"          LOC = D8 	| IOSTANDARD = LVCMOS18 | DRIVE = 8;
NET "DSP_LRESETZ_p"       LOC = C8 	| IOSTANDARD = LVCMOS18 | DRIVE = 8;
NET "DSP_HOUT_p"          LOC = B8 	| IOSTANDARD = LVCMOS18;
NET "DSP_BOOTCOMPLETE_p"  LOC = A8 	| IOSTANDARD = LVCMOS18;
NET "DSP_SYSCLKOUT_p"     LOC = C7 	| IOSTANDARD = LVCMOS18;
NET "DSP_PORZ_p"          LOC = E7 	| IOSTANDARD = LVCMOS18 | DRIVE = 8;
NET "DSP_RESETFULLZ_p"    LOC = F8 	| IOSTANDARD = LVCMOS18 | DRIVE = 8;
NET "DSP_RESETZ_p"        LOC = B6 	| IOSTANDARD = LVCMOS18 | DRIVE = 8;
NET "DSP_RESETSTAT_np"    LOC = C13 | IOSTANDARD = LVCMOS18;

//RESET
NET "FULL_RESET_p"        LOC = E14 | IOSTANDARD = LVCMOS33;
NET "WARM_RESET_p"        LOC = D15 | IOSTANDARD = LVCMOS33;
NET "COLD_RESET_p"        LOC = D16 | IOSTANDARD = LVCMOS33;
NET "BOARD_RESET_p"       LOC = D14 | IOSTANDARD = LVCMOS33;

//MISC
NET "PCA9306_EN_p"        LOC = P16 | IOSTANDARD = LVCMOS33;
NET "EEPROM_WP_p"         	LOC = B14 | IOSTANDARD = LVCMOS18 | DRIVE = 8;
NET "NOR_WP_np"            	LOC = B15 | IOSTANDARD = LVCMOS18 | DRIVE = 8;
NET "NAND_WP_p"           	LOC = A6 | IOSTANDARD = LVCMOS18 | DRIVE = 8;
NET "NORFLASH_RST_N_p" 			LOC = G6 | IOSTANDARD = LVCMOS18 | DRIVE = 8;
NET "PCIESSEN_p" 						LOC = P2 | IOSTANDARD = LVCMOS18;


//CLOCK
NET "CLOCK2_PLL_LOCK_p" 	LOC = R5 | IOSTANDARD = LVCMOS33;

NET "CLOCK2_SSPCS1_p" 	LOC = P6 | IOSTANDARD = LVCMOS33;
NET "CLOCK2_SSPCK_p" 	LOC = N7 | IOSTANDARD = LVCMOS33 | DRIVE = 8;
NET "CLOCK2_SSPSI_p" 	LOC = N8 | IOSTANDARD = LVCMOS33 | DRIVE = 8;
NET "CLOCK2_SSPSO_p" 	LOC = P7 | IOSTANDARD = LVCMOS33;
NET "REFCLK2_PD_np" 		LOC = T7 | IOSTANDARD = LVCMOS33;

NET "CLOCK3_PLL_LOCK_p" 	LOC = T4 | IOSTANDARD = LVCMOS33;
NET "CLOCK3_SSPCS1_p" 	LOC = R7 | IOSTANDARD = LVCMOS33 | DRIVE = 8;
NET "CLOCK3_SSPCK_p" 	LOC = T8 | IOSTANDARD = LVCMOS33 | DRIVE = 8;
NET "CLOCK3_SSPSI_p" 	LOC = P8 | IOSTANDARD = LVCMOS33 | DRIVE = 8;
NET "CLOCK3_SSPSO_p" 	LOC = P9 | IOSTANDARD = LVCMOS33;
NET "REFCLK3_PD_np" 		LOC = N9 | IOSTANDARD = LVCMOS33;


NET "DSP_TSIP0_CLKA0_p"   LOC = C6 | IOSTANDARD = LVCMOS18 | DRIVE = 8;
NET "DSP_TSIP0_CLKB0_p"   LOC = D7 | IOSTANDARD = LVCMOS18 | DRIVE = 8;
NET "DSP_TSIP1_CLKA1_p"   LOC = C5 | IOSTANDARD = LVCMOS18 | DRIVE = 8;
NET "DSP_TSIP1_CLKB1_p"   LOC = A5 | IOSTANDARD = LVCMOS18 | DRIVE = 8;
NET "DSP_TSIP0_FSA0_p"    LOC = B4 | IOSTANDARD = LVCMOS18 | DRIVE = 8;
NET "DSP_TSIP0_FSB0_p"    LOC = A4 | IOSTANDARD = LVCMOS18 | DRIVE = 8;
NET "DSP_TSIP1_FSA1_p"    LOC = B3 | IOSTANDARD = LVCMOS18 | DRIVE = 8;
NET "DSP_TSIP1_FSB1_p"    LOC = A3 | IOSTANDARD = LVCMOS18 | DRIVE = 8;



//UCD9222
NET "UCD9222_PG1_p"       LOC = J14 | IOSTANDARD = LVCMOS33;
NET "UCD9222_PG2_p"       LOC = K16 | IOSTANDARD = LVCMOS33;
NET "UCD9222_ENA1_p"      LOC = H16 | IOSTANDARD = LVCMOS33;
NET "UCD9222_ENA2_p"      LOC = H14 | IOSTANDARD = LVCMOS33;
NET "PGUCD9222_p"         LOC = H15 | IOSTANDARD = LVCMOS33;
NET "UCD9222_RST_np"      LOC = F16 | IOSTANDARD = LVCMOS33;

#NET "UCD9222_VID2A" LOC = T10 | IOSTANDARD = LVCMOS33;
#NET "UCD9222_VID2B" LOC = R11 | IOSTANDARD = LVCMOS33;
#NET "UCD9222_VID2C" LOC = T11 | IOSTANDARD = LVCMOS33;
#NET "UCD9222_VID2S" LOC = N11 | IOSTANDARD = LVCMOS33;



#NET "FPGA_SPI_CS" LOC = P13 | IOSTANDARD = LVCMOS33;
#NET "FPGA_SPI_SI" LOC = N12 | IOSTANDARD = LVCMOS33;
#NET "FPGA_SPI_SCK" LOC = R14 | IOSTANDARD = LVCMOS33;
#NET "FPGA_SPI_SO" LOC = T14 | IOSTANDARD = LVCMOS33;


#NET "PMBUS_CLK"         LOC = G16 | IOSTANDARD = LVCMOS33;
#NET "PMBUS_DAT"         LOC = G14 | IOSTANDARD = LVCMOS33;
#NET "PMBUS_ALT"         LOC = H13 | IOSTANDARD = LVCMOS33;
NET "PMBUS_CTL"         LOC = F15 | IOSTANDARD = LVCMOS33;

NET "SYS_PGOOD_p"         LOC = G13 | IOSTANDARD = LVCMOS33;
NET "DSP_VCL_1_p"         LOC = E16 | IOSTANDARD = LVCMOS33;
NET "DSP_VD_1_p"         LOC = F14 | IOSTANDARD = LVCMOS33;
NET "DSP_TIMI0_p" LOC = R1 | IOSTANDARD = LVCMOS18;
#NET "DSP_TIMO1" LOC = M1 | IOSTANDARD = LVCMOS18;
